# Vercel
.vercel

# Next.js build output
.next/
out/

# Dependencies
node_modules/

# Environment variables
.env*.local
.env.production
.env.development
.env

# macOS
.DS_Store

# IDE
.vscode/
.idea/
